asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2
django-jalali-date==2.0.0
idna==3.10
jalali_core==1.0.0
jdatetime==5.2.0
numpy==2.2.5
opencv-python==4.11.0.86
pillow==11.2.1
python-decouple==3.8
requests==2.32.3
setuptools==80.3.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
