{% extends "base.html" %}
{% load static %}
{% load jalali_tags %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<section class="register-section">
    <div class="register-box">
        <h2>تغییر رمز عبور</h2>
        <form method="post">
            {% csrf_token %}
            <div class="register-form-group">
                <label for="password">رمز عبور جدید</label>
                <input type="password" name="password" id="password" required>
                {% if form.password.errors %}
                <small style="color: red; font-size: 18px;">{{ form.password.errors.0 }}</small>
                {% endif %}
            </div>

            <div class="register-form-group">
                <label for="confirm_password">تایید رمز عبور</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
                {% if form.confirm_password.errors %}
                <small style="color: red; font-size: 18px;">{{ form.confirm_password.errors.0 }}</small>
                {% endif %}
            </div>

            <div style="display: flex; justify-content: space-between; gap: 1rem; flex-wrap: wrap;">
                <button type="submit" class="btn-register-submit">تغییر رمز عبور</button>
                <a href="{% url 'Caffino:dashboard' %}" class="btn-register-submit" style="text-align: center;">بازگشت به داشبورد</a>
            </div>
        </form>
    </div>
</section>

{% endblock %}
